{% extends 'base.html' %}

{% block content %}
    <h1>Concert Ticket Inventory</h1>

    <h3>Name : {{name}}</h3>

    <h4>Kamu menyimpan {{count}} item pada aplikasi ini</h4>
    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>-1 Amount</th>
            <th>+1 Amount</th>
            <th>Delete Data</th>
        </tr>

        {% for ticket in tickets %}
            <tr>
                <td>{{ticket.name}}</td>
                <td>{{ticket.amount}}</td>
                <td>{{ticket.description}}</td>
                <td>{{ticket.date_added}}</td>
                <td><a href="min_amount/{{ticket.pk}}"><button>MIN</button></a></td>
                <td><a href="add_amount/{{ticket.pk}}"><button>ADD</button></a></td>
                <td><a href="delete_data/{{ticket.pk}}"><button>DELETE</button></a></td>
            </tr>
        {% endfor %}
    </table>
    <h5>Sesi terakhir login: {{ last_login }}</h5>
    
<a href="{% url 'main:create_item' %}">
    <button>
        Add New Ticket
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}