{% extends 'base.html' %} <!-- If you have a base template -->
<style>
    
</style>

{% block content %}
<div class="container ">
    <div class="row justify-content-center ">
        <div class="col-md-6 my-5">
            <div class="card">
                <div class="card-header"><h3>Register</h3></div>
                <div class="card-body">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group" style="margin: 20px; text-align: center;">
                                <label for="{{ form.username.id_for_label }}">Username</label>
                                <br>
                                {{ form.username }}
                            </div>
                            <div class="form-group" style="margin: 20px; text-align: center">
                                <label for="{{ form.password1.id_for_label }}">Password</label>
                                <br>
                                {{ form.password1 }}
                            </div>
                            <div class="form-group" style="margin: 20px; text-align: center">
                                <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                                <br>
                                {{ form.password2 }}
                            </div>
                            <div class="form-group-btn" style="text-align: center;">
                                <a href="{% url 'main:show_main' %}" class="btn btn-danger">Kembali</a>
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
    {% if messages %}  
        <ul>    
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}
</div>
{% endblock %}
